.scene {
  width: 100px;
  height: 100px;
  margin:50px;
  perspective: 600px;
}

.card {
  width: 100%;
  display: flex;
  height: 100%;
  position: relative;
  transition: transform 1s;
  position: relative;
  transform-style: preserve-3d;
}
.card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card:hover {
  transform: rotateY(180deg);
}
.front, .back {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.front {
  background-color: red;
}

.back {
  background-color: blue;
  transform: rotateY(180deg);
}

.perspective {
  width: 100px;
  height: 100px;
  background-color: brown;
  margin: 20px;
  transform: perspective(600px) rotateY(60deg);
}