.box-container {
  height: fit-content;
  width: 100vw;
  background-color: #2ec194;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

.box-container .box {
  min-height: 300px;
  width: 300px;
  position: relative;
  background-color: #fff;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  color: rgba(0, 0, 0, 0.1);
}

.box-container .box.shadow1 {
  box-shadow: -30px 30px 10px rgba(0, 0, 0, 0.3);
}

.box-container .box.shadow2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: skewY(5deg);
  transform-origin: left;
  height: 30px;
  z-index: -2;
  filter: blur(5px);
}

.box-container .box.shadow4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: -50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  filter: blur(10px);
}
.box-container .box.shadow5 {
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
             15px 15px 15px rgba(0, 0, 0, 0.3);
}


.box-container .box.shadow6 {
  background-color: #2ec194;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
             15px 15px 15px rgba(0, 0, 0, 0.3);
}

.box-container .box.shadow7 {
  background-color: #2ec194;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
             15px 15px 15px rgba(0, 0, 0, 0.3),
             inset -5px -5px 5px rgba(255, 255, 255, 0.2),
             inset 5px 5px 5px rgba(0, 0, 0, 0.3);
}