.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  transition: 2s;
  z-index: 2;
}

.row {
  display: inline-flex;
  margin-top: -16px;
  margin-left: -25px;
}

.row:nth-child(even)
{
  margin-left: 1px;
}
.hexagon {
  position: relative;
  width: 50px;
  height: 60px;
  margin: 1px;
  background-color: #111;
  transition: 2s;
  filter: hue-rotate(0deg);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: white;
  opacity: 0.02;
}

.hexagon::after {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  left: 2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #111;
}


  /* .hexagon:hover {
    background-color: #0f0;
    filter: hue-rotate(360deg);
    transition: 0s;
  } */

.cursor {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #0f0;
  border-radius: 50%;
  top: 0;
  z-index: 1;
  left: 0;
  transform: translate(-50%, -50%);
  animation: change 3s linear infinite;
} 

@keyframes change {
  from {
    filter: hue-rotate(0deg) blur(50px);
  }
  to {
    filter: hue-rotate(360deg) blur(50px);
  }
}

.cube-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.cube-row {
  position: relative;
  display: inline-flex;
  margin-top: -45px;
}

.cube-row:nth-child(even) {
  margin-left: -75px;
}

.cube {
  position: relative;
  width: 150px;
  height: 150px;
}

.cube:hover span{
  background-color: #03a9f4;
  transition: 0s;
  filter: hue-rotate(360deg);
}

.cube span {
  width: 150px;
  transition: 10s;
  height: 150px;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  display: block;
}

.cube span:nth-child(1) {
  clip-path: polygon(50% 0%, 100% 20%, 50% 50%, 0 25%);
}

.cube span:nth-child(2) {
  clip-path: polygon(0% 75%, 50% 100%, 50% 50%, 0 25%);
}
.cube span:nth-child(3) {
  clip-path: polygon(100% 75%, 100% 20%, 50% 50%, 50% 100%);
}

.cube span:nth-child(2)::before {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  top: 0;
  content: "";
  clip-path: polygon(0% 75%, 50% 100%, 50% 50%, 0 25%);
  left: 0;
}

.cube span:nth-child(3)::after {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  top: 0;
  content: "";
  clip-path: polygon(100% 75%, 100% 20%, 50% 50%, 50% 100%);
  left: 0;
}

