.web-container {
  background-color: #fff;
}

#header {
  top: 0px;
  position: fixed;
  display: flex;
  background-color: #000;
  justify-content: flex-end;
  padding: 20px 50px;
  align-items: center;
  transition: 0.6s;
  z-index: 10;
  width: 100%;
  color: white;
}

#header.sticky {
  background-color: #fff;
  padding: 10px 50px;
}

#header .logo {
  position: relative;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.6s;
}

#header.sticky .logo {
  color: #000;
}

#header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header ul li {
  position: relative;
  list-style: none;
}

#header ul li a {
  position: relative;
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: capitalize;
}

#header.sticky ul li a, #header.sticky ul li a{
  color: black;
}

.banner {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../images/bg.jpg");
  transition: 0.6s;
}

.banner h1 {
  color: #fff;
  font-weight: 600;
  font-size: 5em;
}
.banner h1 p {
  font-size: 32px;
}

.banner h1 span {
  color: blue;
}

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  min-height: 50vh;
  background-color: #fff;
}

.sec .content {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 1rem 2rem;
}

.mxw800p {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.mxw800p h3 {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 10px;
  color: #000;
}

.mxw800p p {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
}


.author {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.author-img img {
  width: 400px;
  height: 400px;
  border-radius: 250px;
  align-items: center;
}

.author-heading {
  text-transform: capitalize;
  padding: 2rem;
  font-size: 3em;
}


.author .content h3 {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 10px;
  color: #000;
  }

  .author .content p {
    font-size: 1.5em;
  }

.author .content {
  padding: 2rem;
}

.author .content p {
  text-align: justify;

}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  position: relative;
  margin: 1rem;  
}

.services .box {
  padding: 1rem;
  margin: 2rem;
  background-color: #fff;
  width: 85%;
  height: 100%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.services .box .icon {
  margin-top: 1rem;
}

.services .box .icon img {
  max-width: 75px;
  margin-bottom: 1rem;
}

.services .box h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.skills {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
  margin-top: 1rem;
}

#skills h3 {
  margin-bottom: 3rem;
}

.workBx .brand {
  width: 250px;
  background-color: #4978ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0 auto;
}
.workBx .brand:hover {
  background-color: #000;
} 
.workBx .brand a {
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}

.workBx .brand:hover a {
  color: rgba(255, 255, 255, 1);
}
.workBx .brand h2 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
}

#contact {
  background-color: #000;
  margin: 0px;
}
#contact h3, #contact p {
  text-align: center;
  color: white;
}
.contact-form {
  display: flex;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.contact-form form {
  margin-top: 1rem;
  width: 100%;
}

.contact-form form .row100 {
  width: 100%;
  display: flex;
  margin: 20px 20px;
  justify-content: center;
  align-items: center;
}

.row100 .inputBx50 {
  width: 50%;
} 

.row100 .inputBx50 input, .row100 .inputBx50 textarea {
  width: 100%;
  color: #fff;
  margin-bottom: 1.5rem;
}

.row100 .inputBx50 textarea {
  border: 1px solid #fff;
  height: 300px;
}

.row100 input, .row100 textarea {
  position: relative;
  border: none;
  outline: none;
  border-bottom: solid 1px #fff;
  background-color: #000;
}

.row100 .inputBx50 input[type = "submit"] {
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row100 .inputBx50 input::placeholder, .row100 .inputBx50 textarea::placeholder{
  color:rgba(255, 255, 255, 0.4);
  text-align: center;
  vertical-align: middle;
}

.toggle {
  display: none;
}


.blog {
  position: absolute;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #000;
  display: none;
  transition: 0.5s;
}

.home-blog-container:hover .blog{
  display: flex;
}

.error {
  color: red !important;
  text-transform: capitalize;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {

  #header.active {
    background-color: #fff;
  }

  .row100 .inputBx50 {
    width: 100%;
  }

  #header.active ul{
    width: 100vw;
  }
  .banner {
    width: 100vw;
  }

  .toggle {
    display: block;
    position: absolute;
    top: 4px;
    padding: 1rem;
    width: 30px;
    min-width: 30px;
    height: 40px;
    position: relative;
    transition: 0.5s;
  }
  
  .toggle::before, .sticky .toggle::before, #header.active .toggle::before {
    position: absolute;
    top: 16px;
    width: 100%;
    height: 10px;
    border-top: #000000 2px solid ;
    transition: 0.5s;
    border-bottom: #000000 2px solid ;
    content: "";
  }

  .toggle::before {
    border-top: #fff 2px solid ;
    border-bottom: #fff 2px solid ;
  }

  .toggle::after, .sticky .toggle::after, #header.active .toggle::after {
    position: absolute;
    top: 7px;
    bottom: -12px;
    width: 100%;
    transition: 0.5s;
    height: 10px;
    margin-bottom: 10px;
    border-top: #000000 2px solid ;
    content: "";
  }

  .mxw800p h3 {
    margin-right: 0;
  }

  .toggle::after {
    border-top: #ffffff 2px solid ;
  }
  #header, #header.sticky {
    padding: 10px 25px;
    width: 100vw;
    text-align: center;
  }

  #header ul, #header.sticky ul{
    position: absolute;
    top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 0px;
    left: 0;
    padding-top: 3rem;
    height: 100vh;
    justify-content: flex-start;
    margin-top: 1rem;
    background-color: white;
    overflow: hidden;
    visibility: hidden;
    width: 100vw;
  }

  

  #header.active ul, #header.active.sticky ul {
    visibility: visible;
  }

  #header.active ul li{
    position: relative;
    padding: 2rem;
  }


  #header ul li a {
    transition: 0s;
  }

  #header ul li a:hover {
    color: #4183c4;
  }

  #header.active ul li a {
    color: #000;
    cursor: pointer;
    font-size: 2em;
    margin-bottom: 1rem;
  }
  #header .logo {
    color: #000000;
  }

  #header.active .toggle::before {
    border-bottom: none;
    transform: rotate(300deg);
  }

  #header.active .toggle::after {
    transform: rotate(240deg);
    position: absolute;
    top: 10px;
    left: 15px;
  }


  .contact-form form .row100{
    margin: 20px 0px;
  }

  .services {
    margin: 1rem 0rem;
  }

  .sec { 
    padding: 100px 0px;
  }

  .author-heading {
    padding: 0rem;
  }
  .author{
    width: 100%;
  }

  .author-img img {
    width: 300px;
    height: 300px;
  }
  .services .box {
    min-width: 300px;
    width: 100%;
    margin: 2rem 0rem;
  }

  .skills {
    grid-template-columns: 100%;
  }
}