.product-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
}

.product-container .card {
  position: relative;
  display: flex;
  width: 320px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #232323;
}

.product-container .card::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-color: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transform: 0.5s ease-in-out;
}

.product-container .card:hover::before {
  clip-path: circle(300px at 80% -20%);
}



.product-container .card::after {
  content: "Nike";
  position: absolute;
  width: 100%;
  top: 60%;
  left: -1px;
  text-align: center;
  font-size: 12em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.05);
  z-index: 1;
}

.product-container .card:hover .content-box{
  transform: translateY(0px);
}
.product-container .card:hover .card-img img {
  top: 50px;
}

.card-img {
  position: relative;
  width: 50%;
  height: 50%;
  
}

.card-img img {
  position: absolute;
  top: 122px;
  right: -26px;
  width: 200%;
  height: 70%;
  transform: rotate(-30deg);
  left: -19px;
  transition: 0.5s;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;  
  height: 50%;
  top: 50%;
  transition: 0.5s;
  transform: translateY(350px);
}

.content-box h2, h3 {
  color: white;
  margin-right: 1rem;
}

.content-box h2 {
  font-size: 26px;
}

.content-box h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.content-box .size, .content-box .color  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.content-box .size span:hover {
  border: #9bdc28 1px solid;
}

.content-box .color span {
  padding: 2px;
  margin: 11px 6px;
  width: 2rem;
  text-align: center;
  border-radius: 20px;
  height: 2rem;
}

.content-box .size span {
  background-color: white;
  padding: 2px;
  margin: 2px;
  width: 2rem;
  text-align: center;
  border-radius: 6px;
  height: 2rem;
}

.content-box button {
  color: black;
  width: 8rem;
  height: 3rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  vertical-align: middle;
  background-color: white;
}