.popup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5vh;
  z-index: 11;
  transition: 0.5s;
}

.popup {
  background: blue;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  height: fit-content;
  padding: 2rem;
  color: white;
  text-align: center;
  z-index: 12;
  align-self: center;
}

.error.popup {
  color: red;
}

@media only screen and (max-width: 768px) {
  .popup {
    width: 100%;
    top: 50vw;
    font-size: 20px;
  }
}