.fluid-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fluid-section .side {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-image: url("../../images/delete.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.fluid-section .side#side1 {
  clip-path: polygon(0 0, 46% 0, 67% 9%, 25% 27%, 69% 33%, 39% 45%, 57% 56%, 27% 68%, 55% 81%, 28% 87%, 54% 92%, 43% 100%, 0% 100%);
  transition: 5s;
}

.fluid-section .side#side2 {
  clip-path: polygon(100% 0, 46% 0, 67% 9%, 25% 27%, 69% 33%, 39% 45%, 57% 56%, 27% 68%, 55% 81%, 28% 87%, 54% 92%, 43% 100%, 100% 100%);
  transition: 5s;
}