.range-container {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  
}

.range {
  height: 100%;
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
}

#skills h3 {
  color: black;
}

.skill {
  display: flex;
  flex-direction: column;
}

.skill h4 {
  text-align: left;
}