.rectangle-container {
  position: relative;
  width: 100vw;
  height: 30vw;
  display: flex;
  transform: translateX(-500px);
  animation: move 10s linear infinite;
}

.rectangle {
  width: 50px;
  position: relative;
  height: 250px;
  background-color: black;
  transition: 2s;
  filter: hue-rotate(0deg);
  border: solid 0.2px;
  
}

.rectangle::after {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  left: 2px;
  content: "";
  background-color: white;
}

.rectangle:hover {
  transition: 0s;
  background-color: green;
  filter: hue-rotate(360deg);
}

@keyframes move {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translate(1300px);
  }
}