.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {  
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(60deg) perspective(300px);
}

.loader span {
  position: absolute;
  display: block;
  border: solid 2px #fff;
  border-radius: 50%;
  animation: animate 5s infinite ease-in-out;
}
.loader span:nth-child(1) {
  animation-delay: 1.5s;
} 

.loader span:nth-child(2) {
  animation-delay: 1.4s;
}
.loader span:nth-child(3) {
  animation-delay: 1.3s;
}

  .loader span:nth-child(4) {
    animation-delay: 1.2s;
  } 

  .loader span:nth-child(5) {
    animation-delay: 1.1s;
  }
  .loader span:nth-child(6) {
    animation-delay: 1.0s;
  }

  .loader span:nth-child(7) {
    animation-delay: 0.9s;
  } 
  
  .loader span:nth-child(8) {
    animation-delay: 0.8s;
  }
  .loader span:nth-child(9) {
    animation-delay: 0.7s;
  }
  
    .loader span:nth-child(10) {
      animation-delay: 0.6s;
    } 
  
    .loader span:nth-child(11) {
      animation-delay: 0.5s;
    }
    .loader span:nth-child(12) {
      animation-delay: 0.4s;
    }

    .loader span:nth-child(13) {
      animation-delay: 0.3s;
    } 
  
    .loader span:nth-child(14) {
      animation-delay: 0.2s;
    }
    .loader span:nth-child(15) {
      animation-delay: 0s;
    }


@keyframes animate {
  0%, 100% {
    transform: translateZ(-100px);
  }
  50% {
    transform: translateZ(100px);
  }
}