.rain-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: yellow;
  animation: animate 2s linear infinite;
  background: url("../../images/delete.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.rain-section:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../../images/rain.png");
  animation: rain 0.2s linear infinite;
}

@keyframes rain {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 20% 200%;
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}