html {
  scroll-behavior: smooth;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 200vh;
  min-height: 100vh;
}

@media(max-width: 992px) { 
  body {
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
